@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Bangers&family=Caveat+Brush&family=Chicle&family=DM+Serif+Text:ital@0;1&family=Grechen+Fuemen&family=Jersey+15&family=Kaushan+Script&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Permanent+Marker&family=Playwrite+AU+SA:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  height: 1000px;
  background-color: #9cdbff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
    background-color: #9cdbff8c;
    padding: 25px;
  border: 2px solid #4fb1cf;
  box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.weather-header h1 {
  text-decoration: none;
  font-family: "Caveat Brush", serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 34px;
  color: #ff9e81;
}
.weather-header img {
  height: 100px;
  margin-left: 10px;
  border-radius: 50%;
}
.weatherForm {
  margin: 20px;
}
.InputCity {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid #6360604d;
  border-radius: 12px;
  margin: 10px;
  width: 300px;
}
.InputBtn {
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
  background-color: #ffc8b8;
  color: #5a5757;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.InputBtn:hover{
    background-color: #faa48a;
    scale: 1.1;
    box-shadow: 2px 2px 5px hsla(0, 2%, 35%, 0.61);

}
.card{
    background: linear-gradient(180deg, rgba(144, 220, 255, 0.733) ,rgba(248, 210, 127, 0.753));
    padding: 50px;
    box-shadow: 2px 2px 5px hsla(0, 2%, 35%, 0.61);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}
h2{
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 20px;
    margin: 5px 0;
}
.CityDisplay, .TempDisplay{
    color: #5a5757;
    font-size: 30px;
    font-weight:bold ;
    margin-bottom: 25px;
}
.HumidityDisplay{
    font-weight:bold ;
    margin-bottom: 25px;
}
.DescDisplay{
font-style: italic;
font-weight: bold;
font-size: 28px;
}
.WeatheEmoji{
margin: 0;
font-size: 120px;
}
.ErrorDisplay{
    font-size: 30px;
   font-weight: bold;
   color: #5a5757;
}